nav
  .container
    .logo
      img(src="../assets/logo.webp")
    .list
      ul
        li
          a(href="../index.html") HOME
        li(class="inside_list")
          a(href="#") SHOP
          ul
            li
              a(href="../pug-file/shop-category.html") SHOP CATEGORY
            li
              a(href="../pug-file/product-details.html") PRODUCT DETAILS
            li
              a(href="../pug-file/checkout.html") PRODUCT CHECKOUT
            li
              a(href="../pug-file/shopping-cart.html") SHOPING CART
            li
              a(href="../pug-file/confirmation.html") CONFIRMATION
        li(class="inside_list")
          a(href="#") BLOG
          ul 
            li 
              a(href="../pug-file/blog.html") BLOG
            li 
              a(href="#") BLOG DETAILS
        li(class="inside_list")
          a(href="#") PAGES
          ul 
            li 
              a(href="../pug-file/login.html") LOGIN 
            li 
              a(href="../pug-file/tracking.html") TRACKING
            li 
              a(href="#") ELEMENTS 
        li
          a(href="../pug-file/contact.html") CONTACT
    .extension
      ul 
        li 
          a(href="#")
            span
              i(class="ri-briefcase-3-line")
        li 
          a(href="#")
            span
              i(class="ri-search-line")
    |
    |
    span.menu
      i(class="ri-menu-3-line")
