.row
  - for (var x=1; x<=9; x++)
    div(class="col-sm-12 col-md-6 col-lg-4") 
      .box 
        .pic
          img(src="../assets/shose8.jpg")
        .text
          h6 addidas New Hammer sole for Sports person
          .price 
            span $150
            span $210
          .operations
            a(href="#")
              span
                i(class="ri-briefcase-3-line")
                p ADD TO BAG
            |
            |
            a(href="#")
              span
                i(class="ri-heart-line")
                p WISHLIST
            |
            |
            a(href="#")
              span
                i(class="ri-refresh-line")
                p COMPARE
            |
            |
            a(href="#")
              span
                i(class="ri-drag-move-2-line")
                p VIEW MORE 